In [1]:
import pandas as pd 
from data_capture import FromYF
import inputs
from pypfopt.expected_returns import returns_from_prices
from core.statistics import population_stats, sample_stats

In [9]:
watchlist_df = pd.read_excel(inputs.WATCHLIST_PATH,index_col=0)
watchlist = watchlist_df.index.tolist()
watchlist.append(inputs.MARKET)

price_df = FromYF.get_prices(watchlist,period=inputs.PERIOD,interval=inputs.INTERVAL)

returns_df = returns_from_prices(price_df,log_returns=inputs.IS_CONTINOUSLY_COMPOUNDED)

returns_df

[*********************100%***********************]  5 of 5 completed

                AAPL      AMZN     GOOGL      TSLA      ^RUA
Date
2020-07-28 -0.016427 -0.017963 -0.016856 -0.040991 -0.007094
2020-07-29  0.019168  0.011065  0.013208  0.015320  0.013811
2020-07-30  0.012100  0.006049  0.009754 -0.007751 -0.003390
2020-07-31  0.104689  0.036961 -0.032775 -0.038138  0.005645
2020-08-03  0.025197 -0.016681 -0.003488  0.037910  0.008723
...              ...       ...       ...       ...       ...
2022-07-20  0.013510  0.038575  0.000791  0.008023  0.007983
2022-07-21  0.015094  0.015150  0.003863  0.097805  0.009424
2022-07-22 -0.008111 -0.017732 -0.056323  0.001975 -0.010572
2022-07-25 -0.007398 -0.010456 -0.003614 -0.013995  0.001458
2022-07-26 -0.008826 -0.052254 -0.023161 -0.035664 -0.012013

[501 rows x 5 columns]

In [3]:
pop_stats_df = population_stats(returns_df)

pop_stats_df

          average     stdev  variance  skewness  kurtoses    confub    conflb
tickers
AAPL     0.001241  0.020259  0.000410  0.047758  1.926385  0.040948 -0.038466
AMZN    -0.000137  0.022746  0.000517 -0.266080  5.529513  0.044445 -0.044718
GOOGL    0.000881  0.018848  0.000355  0.082473  1.186438  0.037824 -0.036061
TSLA     0.002839  0.041386  0.001713  0.048418  2.673190  0.083955 -0.078277
^RUA     0.000449  0.011580  0.000134 -0.504852  1.055694  0.023145 -0.022247

In [4]:
sample_start = inputs.SAMPLE_START

sample_stats_df = sample_stats(returns_df, sample_start)

sample_stats_df

          average      ster  skewness  kurtoses    confub    conflb    t_stat
tickers
AAPL    -0.000760  0.001865 -0.033211  0.107073  0.002897 -0.004416 -1.072517
AMZN    -0.001679  0.002786 -0.185071  3.235870  0.003782 -0.007140 -0.553609
GOOGL   -0.001822  0.002068  0.224800 -0.111387  0.002231 -0.005875 -1.307209
TSLA    -0.000845  0.003812 -0.016976  0.357785  0.006626 -0.008317 -0.966372
^RUA    -0.001287  0.001355 -0.194126 -0.297242  0.001367 -0.003942 -1.282219

In [5]:
covariance_matrix = returns_df.cov(min_periods=None, ddof=1)

covariance_matrix

           AAPL      AMZN     GOOGL      TSLA      ^RUA
AAPL   0.000410  0.000302  0.000231  0.000444  0.000174
AMZN   0.000302  0.000517  0.000276  0.000433  0.000187
GOOGL  0.000231  0.000276  0.000355  0.000328  0.000166
TSLA   0.000444  0.000433  0.000328  0.001713  0.000272
^RUA   0.000174  0.000187  0.000166  0.000272  0.000134

In [6]:
corr_matrix = returns_df.corr(method='pearson', min_periods=None)

corr_matrix

           AAPL      AMZN     GOOGL      TSLA      ^RUA
AAPL   1.000000  0.655670  0.605585  0.529774  0.740708
AMZN   0.655670  1.000000  0.642640  0.459592  0.709290
GOOGL  0.605585  0.642640  1.000000  0.420040  0.761931
TSLA   0.529774  0.459592  0.420040  1.000000  0.567896
^RUA   0.740708  0.709290  0.761931  0.567896  1.000000